{
  "sfdc": {
    "credentials": {
      "admin": {
        "clientId" : "",
        "clientSecret" : "",
        "securityToken": "",
        "userName": "",
        "password": ""
      }
    }
  }
}
